<div class="list">
  {{#each results}}
  <div class="list--element result_list--element">
    <p><a href="/{{this.category}}s/{{this.id}}">{{this.name}}</a></p>
    <img src="{{this.img_url}}" width="300px" alt="">
  </div>

  {{/each}}
</div>
