body {
  margin: 0;
  background-image: url('../img/d7c926b2bcd13faba1f342e7920760d885af547f.jpeg');
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
}

.search_images img {
  border-radius: 10%;
  box-shadow: -9px -5px 5px 0px rgba(50, 50, 50, 0.75);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.header,
.footer {
  background-color: rgb(13, 13, 61);
}

.header {
  top: 0;
  position: sticky;
}

.header-container,
.footer-container {
  padding-left: 100px;
  padding-right: 100px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container {
  justify-content: space-between;
  color: #ffffff;
  font-size: 11px;
}

.navigation-list {
  margin-bottom: 0;
  display: flex;
  list-style: none;
  padding-left: 70px;
  align-self: center;
}

.navigation-list__item a {
  font-family: 'Bernier';
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 15px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 47px;
}

.navigation-list__item a:hover {
  color: #1665f7;
  transition: color 0.5s;
}

.logo {
  margin-top: 80px;
}

.diplay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-content {
  padding-left: 100px;
  padding-right: 100px;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.list {
  margin-top: 50px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.list--element,
.element,
.main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #636363;
  border-radius: 20px;
  box-shadow: inset rgba(255, 255, 255, 0.274) 8px 8px 18px 5px,
    inset rgba(0, 0, 0, 0.5) -8px -8px 18px 5px;
  height: fit-content;
  margin: 20px;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.category {
  padding: 10px;
}

.category_input {
  width: 500px;
  padding: 7px 20px;
}

.list--element:nth-of-type(2n + 1) {
  margin-right: 10px;
}

.list--element p {
  max-width: 300px;
}

.item_list--element,
.result_list--element,
.element {
  height: 400px;
}

.item_list--element {
  flex-direction: row;
  width: 50%;
}

.item_list--element div:first-of-type {
  margin-right: 25px;
}
