body {
  margin: 0;
  background-image: url('../img/d7c926b2bcd13faba1f342e7920760d885af547f.jpeg');
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.header a {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: rgb(10, 8, 138);
}

li,
p,
a {
  font-family: 'Lato', sans-serif;
}

.search_images img {
  border-radius: 10%;
  box-shadow: -9px -5px 5px 0px rgba(50, 50, 50, 0.75);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.diplay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.background_all_pages {
  height: fit-content;
  width: fit-content;
  background-color: rgb(131, 134, 163);
  border-radius: 10px;
}

.hidden {
  display: none;
}

.header,
.footer {
  background-color: rgb(13, 13, 61);
}

.header {
  top: 0;
  position: sticky;
}

.header-container,
.footer-container {
  padding-left: 100px;
  padding-right: 100px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container {
  justify-content: space-between;
  color: #ffffff;
  font-size: 11px;
}

.navigation-list {
  margin-bottom: 0;
  margin-right: 80px;
  display: flex;
  list-style: none;
}

.navigation-list li {
  align-self: center;
}

.error {
  color: red;
}

.navigation-list__item a {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 15px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 47px;
}

.navigation-list__item a:hover {
  color: #1665f7;
  transition: color 0.5s;
}

.logo {
  margin-top: 70px;
}

.error {
  color: rgb(163, 15, 15);
}

.section-content {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 20px;
  padding-bottom: 360px;
  box-shadow: 0px 0px 50px 0px rgb(105, 84, 105);
}

.list {
  margin-top: 50px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0px;
}

.list--element,
.element,
.main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #636363;
  border-radius: 20px;
  box-shadow: inset rgba(255, 255, 255, 0.274) 8px 8px 18px 5px,
    inset rgba(0, 0, 0, 0.5) -8px -8px 18px 5px;
  height: fit-content;
  margin: 20px;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.shadows {
  padding: 20px;
  background: #636363;
  border-radius: 20px;
  box-shadow: inset rgba(255, 255, 255, 0.274) 8px 8px 18px 5px,
    inset rgba(0, 0, 0, 0.5) -8px -8px 18px 5px;
  height: fit-content;
  margin: 20px;
}

.main {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.category {
  padding: 10px;
}

.category_input {
  width: 500px;
  padding: 7px 20px;
}

.list--element:nth-of-type(2n + 1) {
  margin-right: 10px;
}

.list--element p {
  max-width: 300px;
}

.item_list--element,
.result_list--element,
.element {
  height: 400px;
}

.item_list--element {
  flex-direction: row;
  width: 50%;
}

.item_list--element div:first-of-type {
  margin-right: 25px;
}

.profile--element {
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}

.profile {
  width: 700px;
  height: 575px;
}

.themes_container,
.community,
.divisions_container {
  padding-bottom: 50px;
}

.divisions {
  width: 600px;
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
}

.themes_header {
  text-transform: uppercase;
  color: rgb(10, 8, 138);
}

.forum_line {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forum_inline {
  display: flex;
  justify-content: center;
  width: 650px;
}

.themes_pointers {
  display: flex;
  justify-content: space-between;
}

.themes_pointers p:first-of-type {
  margin-left: 15px;
}

.theme {
  width: 450px;
}

.forum_inline li:first-of-type {
  margin-left: 50px;
  width: 600px;
}

.forum_inline li:nth-of-type(2) {
  margin-left: 35px;
}

.add {
  text-align: end;
  margin-right: 15px;
}

.community {
  width: 700px;
  height: fit-content;
}

.posts_container {
  height: 450px;
  width: inherit;
  max-height: 63vh;
  border: 2px solid rgb(45, 0, 75);
  overflow-y: auto;
}

.post_text {
  margin-top: 5px;
  width: inherit;
  position: sticky;
  margin-bottom: 7px;
}

.under_text {
  margin-top: -5px;
  background-color: rgba(255, 255, 255);
  display: flex;
  justify-content: space-between;
}

.forum-icons {
  display: flex;
  width: fit-content;
  justify-content: space-around;
  align-items: center;
}

.smiles {
  cursor: pointer;
  margin-bottom: 0;
  margin-left: 15px;
  margin-right: 15px;
}

.smiles_container {
  cursor: pointer;
  margin-top: -200px;
  position: absolute;
  z-index: 9999;
  padding: 5px;
  overflow-y: scroll;
  background-color: rgb(252, 252, 252);
  width: 350px;
  height: 200px;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 5px;
}

.flex {
  display: flex;
}

.post {
  display: flex;
  justify-content: center;
}

.post div {
  overflow-wrap: break-word;
  align-items: center;
  padding-left: 20px;
  width: 430px;
}

.post p:first-of-type {
  padding-left: 10px;
  padding-right: 10px;
}

.date {
  width: 100px;
  padding-right: 15px;
}

input[type='file'] {
  color: transparent;
}
