<div class="container section-content list background_all_pages">
  {{#each data}}
  <div class="list--element characters_list--element search_images">
    <p><a href="/characters/{{this.id}}">{{this.name}}</a></p>
    <img src="{{this.img_url}}" width="300px" alt="">
  </div>

  {{/each}}
</div>
