<div class="container section-content list background_all_pages">
  {{#each data}}
  <div class="list--element">
    <p><a href="/episodes/{{this.id}}">{{this.name}}</a></p>
    <img src="{{this.img_url}}" alt="episodeFoto" width="300px">
  </div>
  {{/each}}
</div>
