<div class="shadows">
  <h1 class="">404 ERROR</h1>
  <p class="">Oooops this page doesn't exist.</p>
  <p class="">
    Try from the <span class=""><a href="/">start</a></span>!
  </p>
  <img src="/img/17-43.jpg" alt="wrong" width="400px">

</div>
