<div class="center">
  <h1 class="center">Ошибка 404.</h1>
  <p class="">Ой, кажется не та дверь.</p>
  <p class="">
    Попробуйте всё <span class=""><a href="/">сначала</a></span>!
  </p>
  <img src="/img/TX3V.gif" alt="wrong">

</div>
