<div class="container main">
  {{#if username}}
  <form data-name="commonForm" action="/search">
    <p>Please choose category:</p>
    <div>
      <select class="category" name="category">
        <option>...Choose</option>
        <option value="character">Character</option>
        <option value="location">Location</option>
        <option value="episode">Episode</option>
      </select>

      <input class="category_input" data-name="search" type="text" name="search" placeholder="A name, a location or an episode">
      <button class="align-self-center btn btn-info btn-lg">Search</button>
    </div>


  </form>
  {{else}}
  <div class="element">
    <p>In order to start, please <a href="/users/signin">sign in</a></p>
    <p>If you don't have an accoun yet, please <a href="/users/signup">sign up </a></p>
  </div>

  {{/if}}
</div>
<div data-name="resultsContainer" class="results"></div>
