<header class="header">
  <div class="container header-container">

    <div class="logo">
      <img src="/img/Final_Space_Logo.png" alt="icon" width="120px">
    </div>
    <nav>
      <ul class="navigation-list">
        <li class="navigation-list__item"><a href="/">Home</a></li>
        {{#if username}}
        <li class="navigation-list__item"><a href="/characters">Characters</a></li>
        <li class="navigation-list__item"><a href="/locations">Locations</a></li>
        <li class="navigation-list__item"><a href="/episodes">Episodes</a></li>
        <li class="navigation-list__item"><a href="/community/divisions">Discuss</a></li>
        <li class="navigation-list__item"><a href="/users/{{userId}}">Profile</a></li>
        <li class="navigation-list__item"><a href="/users/logout"><img src="/img/logout.svg" alt="logout" width="50px"></a></li>
        {{else}}
        <li class="navigation-list__item"><a href="/users/signup">Sign up</a></li>
        <li class="navigation-list__item"><a href="/users/signin">Log in</a></li>
        {{/if}}
      </ul>
    </nav>

  </div>

</header>
