<div class="container section-content background_all_pages">
  <h5>Final Space Forum</h5>
  <div class="background_all_pages">
    <ul>
      {{#each divisions}}
      <li><a href="/community/divisions/{{this.id}}">{{this.title}}</a></li>
      {{/each}}
    </ul>
  </div>
</div>
